body{
    text-align: center;
    line-height: 1.5;
}

/* CONTAINERS AND SECTIONS */
.container-fluid{
    padding: 7% 15%;
}

.image-section{
    background-color: black;
    color: white;
    /* background-image: url("../assets/header-2.jpg");
    background-repeat: no-repeat;
    object-fit:cover;*/
} 

.white-section{
    background-color: white;
    color: black;
}

.colored-section{
    background-color: gray;
    color: white;
}

.colored-section2{
    background-color: black;
    color: white;
}

/* NAV */
nav{
    text-align: right;
}

.nav-link{
    color: whitesmoke;
}

#brand-name{
    color: whitesmoke;
}

/* HEADING */
.heading{
    text-align: left;
    padding-top: 4%;
}
.header-img{
    width: 50%;
    min-width: 300px;
    min-height: auto;
}

.heading-btn{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

/* CAROUSEL */

.carousel-text{
    margin-top: 2%;
}
.carousel-image{
    width: 70%;
}

/* FOOTER */
.social-icon{
    margin:0% 2% 2%;
}


/* CUSTOM SCROLLBAR */

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 